
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
    	<div>   <!-- jumbotron form container-->
    		<form method = "POST" action = "{% url 'app:update' event.slug %}" enctype="multipart/form-data">
    		{%csrf_token%}
    		{{form|crispy}}
    		<input type="submit" value="Update Event">
    		</form>
    	</div>                      <!-- end of jumbotron form -->
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}